* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.overflow {
  overflow: hidden;
}

.hide {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, ul, li, form, input {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul li {
  list-style-type: none;
}

.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.button__feel, .button__empty {
  display: inline-block;
  white-space: nowrap;
  padding: 30px 32px;
  font-size: 15px;
  line-height: 1.6px;
  letter-spacing: 0.15px;
  border-radius: 30px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.button__feel {
  background: #2E85FF;
  color: #FFFFFF;
}
.button__feel:hover {
  background: #ee5b5b;
}

.button__empty {
  background: transparent;
  color: #2174EA;
  border: 1px solid #2E85FF;
}
.button__empty:hover {
  background: #2E85FF;
  color: #FFFFFF;
}

.info-link {
  padding-right: 20px;
  position: relative;
}
.info-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #5C9FFF;
}
.info-link::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(..//img/header/arrow.png);
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section__title {
  font-size: 37px;
  line-height: 1.2;
  letter-spacing: 0.617px;
  color: #112950;
}

.header {
  background: #F5F8FB;
}
.header__top {
  padding: 18px 15px;
  background: #112950;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.075;
  text-align: center;
}
.header__info {
  display: inline-block;
}
.header__menu-icon {
  z-index: 2;
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
}
.header__menu-icon span, .header__menu-icon::before, .header__menu-icon::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #2e85ff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__menu-icon::before {
  top: 27%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.header__menu-icon::after {
  top: 75%;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.header__menu-icon--active span {
  opacity: 0;
}
.header__menu-icon--active::before, .header__menu-icon--active::after {
  background: #ffffff;
  top: 50%;
}
.header__menu-icon--active::before {
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
}
.header__menu-icon--active::after {
  -webkit-transform: translate(-50%, -50%) rotate(225deg);
          transform: translate(-50%, -50%) rotate(225deg);
}
.header__nav {
  padding: 28px 0 27px 0;
  background: #F5F8FB;
}
.header__nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__list-item {
  display: inline-block;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.15px;
}
.header__list-item a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.header__list-item + .header__list-item {
  margin-left: 45px;
}

.main {
  background: #F5F8FB;
}
.main__wrapper {
  width: 100%;
  position: relative;
}
.main__content {
  padding-top: 125px;
  padding-bottom: 191px;
  max-width: 440px;
}
.main__title {
  font-size: 45px;
  line-height: 1.25;
  letter-spacing: 0.796px;
  color: #112950;
  margin-bottom: 42px;
}
.main__text p {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.15px;
  color: #324B72;
  margin-bottom: 25px;
}
.main__img {
  position: absolute;
  top: 33px;
  right: 150px;
}
.main__img-text {
  position: absolute;
  top: 410px;
  right: -113px;
  max-width: 400px;
  width: 100%;
  padding: 26px 47px 22px 30px;
  background: #112950;
  box-shadow: 0px 10px 20px rgba(17, 41, 80, 0.48);
  border-radius: 5px;
}
.main__img-text p {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.helps {
  padding: 120px 0;
  background: #F5F8FB;
}
.helps__title {
  margin-bottom: 75px;
}
.helps__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.helps__column {
  max-width: 315px;
  padding: 0px 10px;
}
.helps__column-img {
  margin-bottom: 30px;
}
.helps__column-title {
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: 0.308px;
  color: #112950;
  margin-bottom: 20px;
}
.helps__column-text {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.76;
  letter-spacing: 0.15px;
  color: #324B72;
}

.use {
  padding: 120px 0;
}
.use__title {
  margin-bottom: 30px;
}
.use__text {
  max-width: 657px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.15px;
  color: #324B72;
  margin-bottom: 56px;
}
.use__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.use__card-item {
  padding: 53px 49px 0 41px;
  max-width: 490px;
  min-height: 662px;
  border-radius: 16px;
  position: relative;
}
.use__card-item::before {
  content: "";
  position: absolute;
  top: 260px;
  left: 0;
  width: 100%;
  height: 1px;
}
.use__card-img {
  width: 80%;
  display: block;
  margin: 0px auto 46px auto;
}
.use__card-title {
  margin-bottom: 28px;
  font-size: 29px;
  line-height: 1.2;
  letter-spacing: 0.456px;
}
.use__card-text {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.76;
  margin-bottom: 150px;
}
.use__card-buttons {
  position: absolute;
  bottom: 53px;
}
.use__card-link {
  margin-left: 30px;
}
.use__card-blue {
  color: #fff;
  background: #112950;
}
.use__card-blue::before {
  background: #324B72;
}
.use__card-white {
  color: #112950;
  background: #F5F8FB;
}
.use__card-white::before {
  background: #E0E6ED;
}
.use__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E0E6ED;
  border-radius: 16px;
}
.use__row-content {
  max-width: 565px;
  padding-right: 15px;
}
.use__row-title {
  font-size: 28px;
  line-height: 1.24;
  letter-spacing: 0.456px;
  color: #112950;
  margin-bottom: 28px;
}
.use__row-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.15px;
  color: #324B72;
  margin-bottom: 28px;
}

.trust {
  padding: 123px 0px 126px 0px;
  background: #F5F8FB;
}
.trust__title {
  margin-bottom: 68px;
}
.trust__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 128px;
}
.trust__column {
  padding-left: 112px;
  max-width: 485px;
  padding-right: 15px;
  position: relative;
}
.trust__column::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  top: 0;
  left: 0;
}
.trust__column-one::before {
  background-image: url(..//img/trust/col-bg-1.png);
}
.trust__column-two::before {
  background-image: url(..//img/trust/col-bg-2.png);
}
.trust__column-title {
  font-size: 23px;
  line-height: 1.2;
  letter-spacing: 0.308px;
  color: #112950;
  margin-bottom: 26px;
}
.trust__column-text {
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.15px;
  color: #324B72;
}
.trust__company-title {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2;
  text-transform: uppercase;
  color: #7B8BA5;
}
.trust__company-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.trust__company-link {
  margin: 25px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-top: 50px;
}

.lang {
  padding: 120px 0;
}
.lang__title {
  margin-bottom: 30px;
}
.lang__text {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.15px;
  color: #324B72;
  margin-bottom: 55px;
}
.lang__link-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 72px;
}
.lang__link-wrapp {
  display: block;
  margin-bottom: 8px;
}
.lang__link {
  display: inline-block;
  padding: 4px 36px 4px 36px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.075px;
  color: #324B72;
  border: 1px solid #E0E6ED;
  border-radius: 16px;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}
.lang__link:hover {
  background: #2E85FF;
  color: #FFFFFF;
}
.lang__contribute {
  font-family: 'Inter', sans-serif;
  padding: 41px 15px;
  text-align: center;
  border: 1px solid #E0E6ED;
  border-radius: 16px;
}
.lang__contribute-button {
  display: inline-block;
  padding: 5px 16px;
  margin-right: 16px;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  background: #112950;
  color: #FFF;
  border-radius: 16px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.lang__contribute-button:hover {
  background: #6990ca;
  color: #fff;
}
.lang__contribute-text {
  display: inline-block;
  font-size: 18px;
  line-height: 1.5;
  color: #324B72;
}
.lang__contribute-link {
  font-size: 17px;
  line-height: 1.59;
  letter-spacing: 0.15px;
  color: #2174EA;
}
.lang__contribute-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.contact {
  background: #F5F8FB;
  padding: 123px 0;
  text-align: center;
}
.contact__title {
  margin-bottom: 30px;
}
.contact__text {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  color: #324B72;
  max-width: 500px;
  margin: 0 auto 42px auto;
}
.contact__button {
  display: inline-block;
}

.footer {
  box-shadow: 0px 2px 13px 1px #bec6cd;
  background: #F5F8FB;
  padding: 79px 0 41px 0;
  font-family: 'Inter', sans-serif;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E0E6ED;
  margin-bottom: 41px;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  margin-bottom: 60px;
}
.footer__links-item {
  padding: 0px 20px;
}
.footer__links-title {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  color: #7B8BA5;
  margin-bottom: 28px;
}
.footer__menu-link {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  color: #324B72;
}
.footer__menu-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.footer__menu-item {
  margin-bottom: 16px;
}
.footer__contact-img {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.footer__copy {
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  color: #7B8BA5;
}

.modal {
  visibility: hidden;
  opacity: 0;
}
.modal__wrapper {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 10;
}
.modal__inner {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 50px 30px;
  max-width: 600px;
  background: rgba(43, 105, 204, 0.82);
  border-radius: 16px;
  text-align: center;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.modal__title {
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 20px;
}
.modal__text {
  margin-bottom: 20px;
}
.modal__button {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
.modal__close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  background: #2e85ff;
}
.modal__close::before, .modal__close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 1px;
  background: white;
}
.modal__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.modal__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal__inner-active {
  top: 50%;
}
