* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
body {
  font-family: 'Inter', sans-serif;
  }
.overflow{
  overflow: hidden;
}
.hide{
  display: none;
}
a {
    text-decoration: none; 
    color: inherit;
  }
h1, h2, h3, h4, ul, li, form, input {
    margin: 0;
    padding: 0; 
    font-weight: 400;
}
ul li{
  list-style-type: none;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.button__feel, .button__empty{
  display: inline-block;
  white-space: nowrap;
  padding: 30px 32px;
  font-size: 15px;
  line-height: 1.6px;
  letter-spacing: 0.15px;
  border-radius: 30px;
  transition-duration: 400ms;
}
.button__feel{
  background: #2E85FF;
  color: #FFFFFF;
    &:hover{
      background: #ee5b5b;
    }
}
.button__empty{
  background: transparent;
  color: #2174EA;
  border: 1px solid #2E85FF;
    &:hover{
      background: #2E85FF;
      color: #FFFFFF;
    }
}
.info-link{
  padding-right: 20px;
  position: relative;
  &:hover{
    text-decoration-line: underline;
    color: #5C9FFF;
  }
  &::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(..//img/header/arrow.png);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
.section{
  &__title{
    font-size: 37px;
    line-height: 1.2;
    letter-spacing: 0.617px;
    color: #112950;
  }
}
.header{
  background: #F5F8FB;
  &__top{
    padding:18px 15px;
    background: #112950;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.075;
    text-align: center;
  }
  &__info{
    display: inline-block;
  }
  &__menu-icon{
    z-index: 2;
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    & span, &::before, &::after{
      content: '';
      width: 25px;
      height: 3px;
      background: #2e85ff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    }
    &::before{
      top: 27%;
      transition-duration: 400ms;
    }
    &::after{
      top: 75%;
      transition-duration: 400ms;
    }
  }
  &__menu-icon--active{
    & span {
      opacity: 0;
    }
    &::before, &::after{
    background: #ffffff;
    top: 50%;
    }
    &::before{
      transform: translate(-50%, -50%) rotate(-225deg);
    } 
    &::after{
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
  &__nav{
    padding: 28px 0 27px 0;
    background: #F5F8FB;
  }
  &__nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item{
    display: inline-block;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.15px;
  }
  &__list-item a:hover{
    text-decoration-line: underline;
  }
  &__list-item+&__list-item{
    margin-left: 45px;
  }
}
.main{
  background: #F5F8FB;
  &__wrapper{
    width: 100%;
    position: relative;
   
  }
  &__content{
    padding-top: 125px;
    padding-bottom: 191px;
    max-width: 440px;
  }
  &__title{
    font-size: 45px;
    line-height: 1.25;
    letter-spacing: 0.796px;
    color: #112950;
    margin-bottom: 42px;
  }
  &__text p{
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 25px;
  }
  &__img{
    position: absolute;
    top: 33px;
    right: 150px;
  }
  &__img-text{
    position: absolute;
    top: 410px;
    right: -113px;
    max-width: 400px;
    width: 100%;
    padding: 26px 47px 22px 30px;   
    background: #112950;
    box-shadow: 0px 10px 20px rgba(17, 41, 80, 0.48);
    border-radius: 5px;
  }
  &__img-text p{
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
}
.helps{
  padding:120px 0 ;
  background: #F5F8FB;
  &__title{
    margin-bottom: 75px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__column{
    max-width: 315px;
    padding: 0px 10px;
    &-img{
      margin-bottom: 30px;
    }
    &-title{
      font-size: 23px;
      line-height: 1.2;
      letter-spacing: 0.308px;
      color: #112950;
      margin-bottom: 20px;
    }
    &-text{
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 1.76;
      letter-spacing: 0.15px;
      color: #324B72;
    }
  }
}
.use{
  padding: 120px 0;
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    max-width: 657px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 56px;
  }
  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__card-item{
    padding: 53px 49px 0 41px;
    max-width: 490px;
    min-height: 662px;
    border-radius: 16px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      top: 260px;
      left: 0;
      width: 100%;
      height: 1px;
    }
  }
  &__card{
    &-img{
      width: 80%;
      display: block;
      margin: 0px auto 46px auto;
    }
    &-title{
      margin-bottom: 28px;
      font-size: 29px;
      line-height: 1.2;
      letter-spacing: 0.456px;
    }
    &-text{
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 1.76;
      margin-bottom: 150px;
    }
    &-buttons{
      position: absolute;
      bottom: 53px;
    }
    &-link{
      margin-left: 30px;
    }
  }
  &__card-blue{
    color: #fff;
    background: #112950;
    &::before{
      background: #324B72;
    }
  }
  &__card-white{
    color: #112950;
    background: #F5F8FB;
    &::before{
      background: #E0E6ED;
    }
  }
  &__row{
    display: flex;
    padding: 50px 15px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E0E6ED;
    border-radius: 16px;
    &-content{
      max-width: 565px;
      padding-right: 15px;
    }
    &-title{
      font-size: 28px;
      line-height: 1.24;
      letter-spacing: 0.456px;
      color: #112950;
      margin-bottom: 28px;
    }
    &-text{
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: 0.15px;
      color: #324B72;
      margin-bottom: 28px;
    }
  }
}
.trust{
  padding: 123px 0px 126px 0px;
  background: #F5F8FB;
  &__title{
    margin-bottom: 68px;
  }
  &__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 128px;
  }
  &__column{
    padding-left: 112px;
    max-width: 485px;
    padding-right: 15px;
    position: relative;
    &::before{
      content: "";
      position: absolute;
      height: 80px;
      width: 80px;
      top: 0;
      left: 0;
    }
    &-one::before{
      background-image: url(..//img/trust/col-bg-1.png);
    }
    &-two::before{
      background-image: url(..//img/trust/col-bg-2.png);
    }
    &-title{
      font-size: 23px;
      line-height: 1.2;
      letter-spacing: 0.308px;
      color: #112950;
      margin-bottom: 26px;
    }
    &-text{
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      line-height: 1.59;
      letter-spacing: 0.15px;
      color: #324B72;
    }
  }
  &__company{
    &-title{
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1.2;
      text-transform: uppercase;
      color: #7B8BA5;
    }
    &-label{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    &-link{
      margin: 25px 15px;
      flex: 1 1 20%;
      margin-top: 50px;
    }
  }
}
.lang{
  padding: 120px 0;
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.15px;
    color: #324B72;
    margin-bottom: 55px;
  }
  &__link-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
  }
  &__link-wrapp{
    display: block;
    margin-bottom: 8px;
  }
  &__link{
    display: inline-block;
    padding: 4px 36px 4px 36px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: 0.075px;
    color: #324B72;
    border: 1px solid #E0E6ED;
    border-radius: 16px;
    transition-duration: 400ms;
    &:hover{
      background: #2E85FF;
      color: #FFFFFF;
    }
  }
  &__contribute{
    font-family: 'Inter', sans-serif;
    padding: 41px 15px;
    text-align: center;
    border: 1px solid #E0E6ED;
    border-radius: 16px;
    &-button{
      display: inline-block;
      padding: 5px 16px;
      margin-right: 16px;
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      background: #112950;
      color: #FFF;
      border-radius: 16px;
      transition-duration: 300ms;
      &:hover{
        background:#6990ca ;
        color: #fff
      }
    }
    &-text{
      display: inline-block;
      font-size: 18px;
      line-height: 1.5;
      color: #324B72;

    }
    &-link{
      font-size: 17px;
      line-height: 1.59;
      letter-spacing: 0.15px;
      color: #2174EA;
      &:hover{
        text-decoration-line: underline;
      }
    }
  }
}
.contact{
  background: #F5F8FB;
  padding: 123px 0;
  text-align: center;
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.15px;
    color: #324B72;
    max-width: 500px;
    margin:0 auto 42px auto;
  }
  &__button{
    display: inline-block;
  }
}
.footer{
  -webkit-box-shadow: 0px 2px 13px 1px rgba(190,198,205,1);
  -moz-box-shadow: 0px 2px 13px 1px rgba(190,198,205,1);
  box-shadow: 0px 2px 13px 1px rgba(190,198,205,1);
  background: #F5F8FB;
  padding:79px 0 41px 0;
  font-family: 'Inter', sans-serif;
  &__content{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E6ED;
    margin-bottom: 41px;  
  }
  &__links{
    display: flex;
    justify-content: space-between;
    flex: 0 1 60%;
    margin-bottom: 60px;
    &-item{
      padding: 0px 20px;
    }
    &-title{
      font-size: 14px;
      line-height: 1.5;
      letter-spacing: 0.15px;
      text-transform: uppercase;
      color: #7B8BA5;
      margin-bottom: 28px;
    }
  }
 &__menu-link{
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.15px;
  color: #324B72;
  &:hover{
    text-decoration-line: underline;
  }
 }
 &__menu-item{
  margin-bottom: 16px;
 }
 &__contact-img{
   transform: translateY(-50%);
 }
 &__copy{
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  color: #7B8BA5;
 }
}
.modal{ 
  visibility: hidden;
  opacity: 0;
  &__wrapper{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0%,0%,0%,0.9);
    z-index: 10;
  }
  &__inner{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px;
    max-width: 600px;
    background: rgba(17%, 41%, 80%, 0.82);
    
    border-radius: 16px;
    text-align: center;
    color: white;
    transition-duration: 300ms;
  }
  &__title{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__button{
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  &__close{
    position: absolute;
    right: -10px;
    top: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    background: rgba(18%, 52%, 100%, 1);
    &::before, &::after{
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 25px;
      height: 1px;
      background: white;
    }
    &::after{
      transform: translate(-50%, -50%)  rotate(45deg);
    }
    &::before{
      transform: translate(-50%, -50%)  rotate(-45deg);
    }
  }
}
.modal-active {
 visibility: visible;
 opacity: 1;
}
.modal__inner-active{
  top: 50%;
}