@media (max-width: 1244px){ 
    .main{
        &__img-text{
            right: -51px; 
        }
    }
}
@media (max-width: 1120px){
    .main{
        &__img-text{
            right: 0;
        }
        &__img{
            right: 2%;
        }
    }
}
@media (max-width: 1013px){
    .section{
        &__title{
            text-align: center;
            font-size-adjust: 37px;
        }
    }
    .helps{
        padding: 72px 0;
        &__title{
            margin-bottom: 30px;
        }
        &__row{
          justify-content: center;
        }
        &__column{
            text-align: center;
            margin-bottom: 30px;
        }
        &__column-title {
            font-size: 22px;
        }
        &__column-text {
            font-size-adjust: 15px;
        }
    }
    .use{
        text-align: center;
        &__text{
            margin-left: auto;
            margin-right: auto;
        }
        &__cards{
            justify-content: center;
        }
        &__card-item{
            margin-bottom: 20px;
        }
        &__card-white{
            & .use__card-buttons{
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &__row{
            margin: 0 auto;
            flex-direction: column-reverse;
            max-width: 490px;
        }
        
    }
    .trust{
        &__row{
            justify-content: center;
            margin-bottom: 48px;
        }
        &__column{
            margin-bottom: 80px;
        }
        &__company{
            text-align: center;
            &-title{
                text-align: center;
            }
            
        }
    }
    .lang{
        &__contribute-link{
            display: block;
        }
    }
}
@media (max-width: 795px){
    .footer{
        &__contact{
            text-align: center;
        }
        &__content{
            flex-direction: column;
            justify-content: center;
        }
    }
}
@media (max-width: 827px){
    .main{
        &__img{
            width: 40%;
            height: 40%;
        }
        &__img-bg{
            width: 100%;
        }
        &__img-text{
            width: 42;
            top: 382px;
        }
    } 
    .use{
        padding-top: 70px;
    }
}
@media (max-width: 795px){
    .lang{
        &__link-col{
            flex: 1 1 50%;
            margin-bottom: 30px;
            text-align: center;
        }
    }
}
@media (max-width: 773px){
    .header{
        &__info{
            display: block;
        }
    }
    .main{
        &__content{
            padding-bottom: 0;
            padding-top: 60px;
            margin: 0 auto;
            text-align: center;
        }
        &__wrapper{
            margin: 0 auto;
        }
        &__img{
            position: relative;
            width: 100%;
        }
        &__img-text{
            position: relative;
            padding: 26px 30px;
            max-width: 100%;
            text-align: center;
            top: 0;
        }
    }
    .trust{
        &__company-label{
            justify-content: center;
        }
    }
}
@media (max-width: 594px){
    .header{
        &__menu{
            padding:30vh 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background:  #112950e8;
            text-align: center;
            color: #fff;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transform: translateY(-100%);
            transition:  300ms ease-out;
        }
        &__menu-active{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
        &__list-item{
            display: block;
            margin-bottom: 15px;
        }
        &__list-link{
            font-size: 25px;
        }
        &__list-item+&__list-item{
            margin-left: 0;
          }
        &__menu-icon{
            display: block;
        }
    }
    .main{
        &__title{
            font-size: 38px;
        }
    }
    .footer{
        &__links{
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        &__menu{
            margin-bottom: 40px;
        }
        &__copy{
            text-align: center;
        }
        &__links-title{
            margin-bottom: 16px;
        }
        &__menu-item{
            margin-bottom: 4px;
        }
    }
}
@media (max-width: 520px){
    .use{
        &__card-item{
           &::before{
               content: none;
           }
        }
        &__card{
            &-item{
                min-height: 620px; 
            }
            &-img{
                margin-bottom: 24px;
            }
            &-title{
                font-size: 24px;
                margin-bottom: 17px;
            }
            &-text{
                font-size: 15px;
                margin-bottom: 190px;
            }
            &-buttons{
               left: 50%;
               transform: translateX(-50%); 
            }
            &-button{
                display: block;
                margin-bottom: 25px;
            }
            &-link{
                margin-left: 0;
            }
        }
        &__row{
            &-img{
                width: 80%;
                margin-bottom: 30px;
            }
            &-title{
                font-size: 24px;
            }
            &-text{
                font-size: 15px;
            }
        }
    }
    .lang{
        &__link-row{
            margin-bottom: 0;
        }
        &__link-wrapp{
            margin-left: 5px;
            margin-right: 5px;
        }
        &__link{
            display: block;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__contribute-button{
            margin: 0px 0px 10px 0px;
        }
    }
}
@media (max-width: 358px){
    .section{
        &__title{
            font-size: 37px;
        }
    }
    .helps{
        &__column-title {
            font-size: 22px;
        }
        &__column-text {
            font-size: 15px;
        }
    }
}